.container {
  padding: 16px 0;
  width: 100%;
  margin: 0 auto;
}

.labelContainer {
  text-align: center;
}

.label {
  color: var(--primary-green);
  border-bottom: 1.5px solid var(--primary-green);
}


